body{
    background-color:#e7e3dc;
    color: #15645e;
}

.sitetitle{
    font-size: 40px;
    background-color: #d0b08f91;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #572e2e;
    text-align: center;
}

/*navigation style*/
.navbar {
  overflow: hidden;    
  position: static;
  padding-top: 30px;
  width: 100%;
}

.navbar a {
  float: left;
  display:block;
  color: #4a8a7f;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
}
.navbar a:hover {
  color: #514438;
  background-color: #d0b08f65;
}


a:link{
  color: rgb(37, 167, 145);
}

a:visited{
  color: rgb(69, 111, 114);
}

a:hover{
  color: rgb(66, 122, 245);
}

