aside{
    width: 40%;
    padding-left: 1rem;
    padding-top: 20rem;
    margin-left: 1rem;
    float: right;
    font-size: x-large; 
}

.point{
    cursor: pointer;
    margin: 15px 0;
}

.button-67 {
    align-items: center;
    background: #6f8ceb81;
    border: 0;
    border-radius: 8px;
    box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
    box-sizing: border-box;
    color: #2a1f62;
    cursor: pointer;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    justify-content: center;
    line-height: 1.5rem;
    padding: 15px;
    position: relative;
    text-align: center;
    transition: .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    width: max-content;
    word-break: normal;
    word-spacing: normal;
 
  }
  
  .button-67:hover {
    background: #e5eef7;
    box-shadow: -15px -15px 30px 0 #7ba5ffaf;
  }

