img{
    margin-left: 17.5rem;
    margin-top: 5rem;
}

body{
    background-color:#e7e3dc;
    color: #15645e;
}

.body{
  background-image: url(images/watermark.jpg);
  background-repeat: no-repeat;
}


.img {
    float: right;
    margin-right: 23rem;  
}

.img2 {
    float: right;
    margin-right: 23rem;
    
}

/* :link is a pseudo-class for the <a> tag */
a:link{
    color: rgb(239, 239, 243);
}

a:visited{
    color: rgb(229, 243, 242);
}

a:hover{
    color: rgb(66, 122, 245);
}

a:focus{
    color: darkcyan;
}

a:active{
    color: palevioletred;
}

.sitetitle{
    font-size: 40px;
    background-color: #d0b08f91;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #20665d;
    text-align: center;
}

/*navigation style*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  
}

.container {
  display: block;
  margin-left: 50rem;
  margin-right: auto;
  width: 50%;
  padding-bottom: 2rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

nav {
  list-style: none;
  position: relative;
}

nav li {
  float: left;
}

nav li a {
  position: relative;
  padding: 18px 24px;
  color: rgba(16, 161, 118, 0.5);
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  background: #0a9b77;
  border-right: 1px solid #407259;
  border-bottom: 10px solid #1b4d349c;
  transition: all 0.2s ease;  
}

nav li:first-child a {
  border-radius: 4px 0 0 0;
}

nav li:last-child a {
  border-radius: 0 4px 0 0;
  border-right: 0;
}

nav li a:hover {
   color: rgba(255, 255, 255, 0.9);
   border-bottom: 15px solid #2A2C2B;
   top: -5px;
}

nav li a:active {
   color: rgba(19, 170, 132, 0.2);
   border-bottom: 0px solid #335f49;
   top: 10px;  
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#d1 {
  background-color: rgb(190, 169, 148);
  left: 300px;
  top: 200px;
  position: absolute;
  width: 250px; 
  height: 100px;
  border: 5px solid rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
}
#d2 {
  background-color: rgb(190, 169, 148);
  left: 600px;
  top: 200px;
  position: absolute;
  width: 250px; 
  height: 100px;
  border: 5px solid #000;

  font-weight: bold;
  text-align: center;
}
#d3 {
  background-color: rgb(190, 169, 148);
  left: 900px;
  top: 200px;
  position: absolute;
  width: 250px; 
  height: 100px;
  border: 5px solid #000;

  font-weight: bold;
  text-align: center;
}
#d4 {
  background-color: rgb(190, 169, 148);
  left: 1200px;
  top: 200px;
  position: absolute;
  width: 250px; 
  height: 100px;
  border: 5px solid #000;

  font-weight: bold;
  text-align: center;
}
#d5 {
  background-color: rgb(190, 169, 148);
  left: 300px;
  top: 800px;
  position: absolute;
  width: 250px; 
  height: 100px;
  border: 5px solid #000;

  font-weight: bold;
  text-align: center;
}
#d6 {
  background-color: rgb(190, 169, 148);
  left: 600px;
  top: 800px;
  position: absolute;
  width: 250px; 
  height: 100px;
  border: 5px solid #000;

  font-weight: bold;
  text-align: center;
}
#d7 {
  background-color: rgb(190, 169, 148);
  left: 900px;
  top: 800px;
  position: absolute;
  width: 250px; 
  height: 100px;
  border: 5px solid #000;

  font-weight: bold;
  text-align: center;
}
#d8 {
  background-color: rgb(190, 169, 148);
  left: 1200px;
  top: 800px;
  position: absolute;
  width: 250px; 
  height: 100px;
  border: 5px solid #000;

  font-weight: bold;
  text-align: center;
}

.p2{
  overflow: scroll;
}

#img1{
  z-index: -1;
  position: absolute;
  top: 900px;
  left: 0px;
}
#img2{
  z-index: 1;
  position: absolute;
  top: 900px;
  left: 130px;
}
#img3{
  z-index: -1;
  position: absolute;
  top: 900px;
  left: 330px;
}
#img4{
  z-index: -1;
  position: absolute;
  top: 1000px;
  left: 130px;
}
