body{
    background-color: #ebd1cc;
    font-size: larger;
}

a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.div1{
    margin-left:25rem;
    margin-bottom: 5rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    font-weight: bold;
}

.img {
    float: right;
    margin-right: 23rem;  
}

.img2 {
    float: right;
    margin-right: 23rem;
    
}

/* :link is a pseudo-class for the <a> tag */
a:link{
    color: darkslateblue;
}

a:visited{
    color: rgb(100, 136, 134);
}

a:hover{
    color: rgb(66, 122, 245);
}

a:focus{
    color: darkcyan;
}

a:active{
    color: palevioletred;
}

.sitetitle{
    font-size: 40px;
    background-color: #d0b08f91;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2b3b28;
    text-align: center;
}

/*navigation style*/
.navbar {
  overflow: hidden;    
  position: static;
  padding-top: 30px;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #4a8a7f;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  margin-left: 10rem;
}
.navbar a:hover {
  color: #514438;
  background-color: #d0b08f65;
}